<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div id="work">
    <div class="main">
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="/assets/agora.png"class="img"></div>
              <div class="card_content">
                <h2 class="card_title">Agora Partners</h2>
                <p class="card_text">Here you will learn more about my experience as a BI consultant.</p>
                <button  data-modal-open = "modal-1" class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="/assets/renault.jpeg"class="img"></div>
              <div class="card_content">
                <h2 class="card_title">Renault </h2>
                <p class="card_text">Here you will learn more about my experience as a software and web developer consultant.</p>
                <button data-modal-open = "modal-2" class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="/assets/thales.jpeg" class="img"></div>
              <div class="card_content">
                <h2 class="card_title">Thales</h2>
                <p class="card_text">Here you will learn more about my experience as a full-stack web developer.</p>
                <button data-modal-open = "modal-3" class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
<div class="modal" id="modal-1" data-modal-close>
  <div class="modal__container" aria-hidden="true">
    <h2>modal1</h2>
    <p>
      This is a modal example.
    </p>
    
    <button class="modal__btn" data-modal-close>Close</button>
  </div>
</div>
<div class="modal" id="modal-2" data-modal-close>
  <div class="modal__container" aria-hidden="true">
    <h3 class="project_title">Renault Group</h3>
    <div #descriptionSection  class="description">
      <p class="one"><a href="#about">We</a> <span>are a </span><a href="#agency">branding agency</a> <span>working with some wonderful</span>
      </p>
      <p class="two">
        <a href="#clients">clients</a><span>. We create imagination-capturing, ownable </span><a href="#ideas">ideas</a> <span>that </span>
      </p>
      <p class="three">
        <span>are powered by brevity, perfect for today's impatient world.</span>
      </p>
    </div>
    <!-- title -->

<!-- slider -->
 <div class="slider_body">
<div class="slider">
  <!-- slide -->
  <ul>
    <li class="active" data-url="/assets/CaptureSERMS.PNG"></li>
    <li data-url="/assets/CaptureSIPIHM.PNG"></li>
    <li data-url="/assets/CaptureSIPIHM2.PNG"></li>
    <li data-url="/assets/ippak.PNG"></li>
    <li data-url="/assets/ippak2.PNG"></li>
  </ul>
  <ol>
    <!-- point -->
    <li class="active"><i class="fa fa-circle"></i></li>
    <li><i class="fa fa-circle"></i></li>
    <li><i class="fa fa-circle"></i></li>
    <li><i class="fa fa-circle"></i></li>
    <li><i class="fa fa-circle"></i></li>
    <!-- playpause -->
    <i class="fa playpause fa-pause-circle" title="pause"></i>
  </ol>
  <!-- controll -->
  <span class="controll active"></span>
  <span class="controll"></span>
</div>
</div>
    <button class="modal__btn" data-modal-close>Close</button>
  </div>
</div>
<div class="modal" id="modal-3" data-modal-close>
  <div class="modal__container" aria-hidden="true">
    <h2>modal3</h2>
    <div class="tickets">
      <div class="tickets__wrapper">
        <div class="tickets__ticket"><img src="/assets/thales.jpeg"class="img"></div>
        <div class="tickets__ticket"><img src="/assets/thales.jpeg"class="img"></div>
        <div class="tickets__ticket"><img src="/assets/thales.jpeg"class="img"></div>
      </div>
    </div>
    <p>
      This is a modal example.
    </p>
    
    <button class="modal__btn" data-modal-close>Close</button>
  </div>
</div>
