body {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    font-size: clamp(14px, 2vw, 18px); /* Ajustement fluide de la taille du texte */

  }
  
  .main {
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 10vh;

  }
  
  h1 {
    font-size: clamp(20px, 3vw, 32px); /* Adaptation fluide du titre principal */
    font-weight: 400;
    text-align: center;
  }
  
  .card_btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid #ffffff;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
    margin-top: auto; /* Pushes the button to the bottom */
}

.card_btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
  .cards {
    display: flex;
    //flex-wrap: wrap;
    justify-content: center; /* This will center the cards in their container */
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  .cards_item {
    //display: flex;
    //flex: 1 1 25%;
    //box-sizing: border-box; 
    padding: 1rem;
    width: 100%; /* Default to full width for smaller screens */
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%; /* 50% width for medium screens */
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%; /* 33.33% width for larger screens to fit 3 cards per row */
    }

  }
  @media (max-width: 768px) { 
    .cards {
      flex-wrap: wrap; /* Active le wrap sur les écrans mobiles */
    }
  }
  
  .card {
    //background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05); /* Zoom-in effect on hover */
  }
  
  .card_content {
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    //background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.6) 0%,
      rgba(132, 206, 235, 0.25) 25%,
      rgba(90, 185, 234, 0.3) 50%,
      rgba(193, 200, 228, 0.2) 75%,
      rgba(136, 96, 208, 0.3) 100%
    );
    //background: linear-gradient(to bottom left, #647DEE 40%, #7F53AC 100%);
    justify-content: flex-start;
        /* Empêche les clics */
        user-select: none;
        
}
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    //font-weight: 100;
  }
body.modal-open {
  overflow: hidden; /* Disable scrolling on the main page */
}
  .modal{
    display: none;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .modal.--active{
    display: flex;
    pointer-events: unset;
  }
  
  .card_image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* This maintains a 16:9 aspect ratio for the image container */
    overflow: hidden; /* This ensures the image doesn't overflow out of the div */
  }
  
  .card_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
  }

  .project_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #333;
  }

  .one,.two,.three {
    font-family: 'Montserrat', sans-serif;
    font-size:clamp(0.2rem, 4vw, 0.6rem);
    font-weight: 400;
    line-height: 1.6;
    font-style: italic;
    color: black; /* Optionnel : couleur légèrement plus douce pour une meilleure lisibilité */
    margin-bottom: 1em; /* Espace entre les paragraphes */
  }
  
.wrapper {
  //border: 1px solid #1b8800;
  border-radius: 0.5rem;
  //background-color: #fff4e6;
  width: 50%; /* Une largeur doit être définie */
  margin: 0 auto;
  flex-direction: column; /* Empile les enfants verticalement */
}

.wrapper > div {
  border: 0.1rem solid #232433;
  flex: 1;
  //text-align: center; /* Centre le texte */
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  padding: 1em;
  color: black;

}



.wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.wrapper > div {
max-width: 100%;
  color: #fff;
  //background-color: rgba(27, 39, 53, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.2rem, 4vw, 0.7rem);
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;;
  margin-bottom: 1rem;
  animation: gradientOpacity 4s infinite linear;
  background-size: 400% 400%; /* Amplifie encore le mouvement */
  position: relative;
}


.wrapper > div::before {
  content: ''; /* Nécessaire pour générer le pseudo-élément */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  z-index: -1000; /* Place l'arrière-plan derrière */
  border-radius: 0.3rem; /* Si les bords arrondis sont requis */
  
}


@keyframes gradientOpacity {
  0% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.3) 0%,
      rgba(132, 206, 235, 0.25) 25%,
      rgba(90, 185, 234, 0.3) 50%,
      rgba(193, 200, 228, 0.2) 75%,
      rgba(136, 96, 208, 0.3) 100%,
    );
    background-position: 0% 0%;
  }
  2.5% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.29) 5%,
      rgba(132, 206, 235, 0.27) 30%,
      rgba(90, 185, 234, 0.28) 55%,
      rgba(193, 200, 228, 0.22) 80%,
      rgba(136, 96, 208, 0.28) 100%
    );
    background-position: 5% 5%;
  }
  5% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.28) 10%,
      rgba(132, 206, 235, 0.28) 35%,
      rgba(90, 185, 234, 0.27) 60%,
      rgba(193, 200, 228, 0.23) 85%,
      rgba(136, 96, 208, 0.27) 100%
    );
    background-position: 10% 10%;
  }
  7.5% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.27) 15%,
      rgba(132, 206, 235, 0.29) 40%,
      rgba(90, 185, 234, 0.26) 65%,
      rgba(193, 200, 228, 0.24) 90%,
      rgba(136, 96, 208, 0.26) 100%
    );
    background-position: 15% 15%;
  }
  10% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.26) 20%,
      rgba(132, 206, 235, 0.3) 45%,
      rgba(90, 185, 234, 0.25) 70%,
      rgba(193, 200, 228, 0.25) 95%,
      rgba(136, 96, 208, 0.25) 100%
    );
    background-position: 20% 20%;
  }
  12.5% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.27) 25%,
      rgba(132, 206, 235, 0.29) 50%,
      rgba(90, 185, 234, 0.26) 75%,
      rgba(193, 200, 228, 0.26) 100%,
      rgba(136, 96, 208, 0.27) 100%
    );
    background-position: 25% 25%;
  }
  15% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.3) 30%,
      rgba(132, 206, 235, 0.25) 55%,
      rgba(90, 185, 234, 0.3) 80%,
      rgba(193, 200, 228, 0.27) 100%,
      rgba(136, 96, 208, 0.3) 100%
    );
    background-position: 30% 30%;
  }
  20% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.29) 35%,
      rgba(132, 206, 235, 0.26) 60%,
      rgba(90, 185, 234, 0.28) 85%,
      rgba(193, 200, 228, 0.25) 100%,
      rgba(136, 96, 208, 0.29) 100%
    );
    background-position: 35% 35%;
  }
  25% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.3) 30%,
      rgba(132, 206, 235, 0.25) 55%,
      rgba(90, 185, 234, 0.3) 80%,
      rgba(193, 200, 228, 0.27) 100%,
      rgba(136, 96, 208, 0.29) 100%
    );
    background-position: 30% 30%;
  }

  75% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.3) 30%,
      rgba(132, 206, 235, 0.25) 55%,
      rgba(90, 185, 234, 0.3) 80%,
      rgba(193, 200, 228, 0.27) 100%,
      rgba(136, 96, 208, 0.29) 100%
    );
    background-position: 30% 30%;
  }
  80% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.29) 35%,
      rgba(132, 206, 235, 0.26) 60%,
      rgba(90, 185, 234, 0.28) 85%,
      rgba(193, 200, 228, 0.25) 100%,
      rgba(136, 96, 208, 0.29) 100%
    );
    background-position: 35% 35%;
  }
  85% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.3) 30%,
      rgba(132, 206, 235, 0.25) 55%,
      rgba(90, 185, 234, 0.3) 80%,
      rgba(193, 200, 228, 0.27) 100%,
      rgba(136, 96, 208, 0.29) 100%
    );
    background-position: 30% 30%;
  }
  82.5% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.27) 25%,
      rgba(132, 206, 235, 0.29) 50%,
      rgba(90, 185, 234, 0.26) 75%,
      rgba(193, 200, 228, 0.26) 100%,
      rgba(136, 96, 208, 0.27) 100%
    );
    background-position: 25% 25%;
  }
  85% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.26) 20%,
      rgba(132, 206, 235, 0.3) 45%,
      rgba(90, 185, 234, 0.25) 70%,
      rgba(193, 200, 228, 0.25) 95%,
      rgba(136, 96, 208, 0.25) 100%
    );
    background-position: 20% 20%;
  }
  87.5% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.27) 15%,
      rgba(132, 206, 235, 0.29) 40%,
      rgba(90, 185, 234, 0.26) 65%,
      rgba(193, 200, 228, 0.24) 90%,
      rgba(136, 96, 208, 0.26) 100%
    );
    background-position: 15% 15%;
  }
  90% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.28) 10%,
      rgba(132, 206, 235, 0.28) 35%,
      rgba(90, 185, 234, 0.27) 60%,
      rgba(193, 200, 228, 0.23) 85%,
      rgba(136, 96, 208, 0.27) 100%
    );
    background-position: 10% 10%;
  }
  92.5% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.29) 5%,
      rgba(132, 206, 235, 0.27) 30%,
      rgba(90, 185, 234, 0.28) 55%,
      rgba(193, 200, 228, 0.22) 80%,
      rgba(136, 96, 208, 0.28) 100%
    );
    background-position: 5% 5%;
  }
  100% {
    background: linear-gradient(
      135deg,
      rgba(86, 128, 233, 0.3) 0%,
      rgba(132, 206, 235, 0.25) 25%,
      rgba(90, 185, 234, 0.3) 50%,
      rgba(193, 200, 228, 0.2) 75%,
      rgba(136, 96, 208, 0.3) 100%
    );
    background-position: 0% 0%;
  }
}









.wrapper ul, .wrapper ol  {
  max-width: 100%;
  
  display: flex; /* Active Flexbox */
  flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
  justify-content: flex-start; /* Aligne les éléments à gauche (modifiable) */
  //background-color: #1125ff;
  padding: 0;
  padding-left: 1rem; /* Ajuste légèrement l'espacement global */
  padding-right: 1rem;
  padding-top: 0.5rem;
  font-weight: bold;
  //perspective: 800px; /* Perspective appliquée au parent */
  animation: fadeInUp 3s ease-in-out forwards; /* Animation */
}
.wrapper ul:nth-child(1) {
  animation-delay: 0.1s; /* Décalage pour chaque UL */
}
.wrapper ul:nth-child(2) {
  animation-delay: 0.2s;
}
.wrapper ul:nth-child(3) {
  animation-delay: 0.4s;
}
.wrapper ul:nth-child(4) {
  animation-delay: 0.5s;
}

/* Keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.wrapper ul ul{
  display: flex; /* Utilise Flexbox pour aligner horizontalement */
  align-items: center; /* Centre verticalement le titre et les items */
  width: fit-content; /* Ajuste strictement la largeur au texte */
  color: #fff;
  background: linear-gradient(
    135deg,
    rgba(86, 128, 233, 0.6) 0%,
    rgba(132, 206, 235, 0.25) 25%,
    rgba(90, 185, 234, 0.3) 50%,
    rgba(193, 200, 228, 0.2) 75%,
    rgba(136, 96, 208, 0.3) 100%
  );
  background-position: 0% 0%;
  //border: 0.08rem solid #1e2036;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  //margin-right: 0.5rem;
  padding: 0.5rem;
  transform: translateZ(20px); /* Décalage en profondeur */
  box-shadow: 0 0.3rem 0.5rem 0px rgba(0, 0, 0, 0.6);
 
}


.list_title {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.5rem, 4vw, 0.6rem);
  font-style: italic;
  font-weight: 600;
  //color: #000; /* Couleur du texte */
  margin-right: 1rem;
}

.wrapper li {
  max-width: 100%;

  display: block; /* Les éléments restent empilés verticalement */
  width: fit-content; /* Ajuste strictement la largeur au contenu */
  background-color: #fff;
  color:#000;
  border: 0.08rem solid #1e2036;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.2rem, 4vw, 0.6rem);
  font-weight: 400;
  line-height: 1.6;
  font-style:  normal;
  white-space: normal; /* Permet les retours à la ligne */
  word-wrap: normal; /* N'autorise pas les coupures de mots */
  word-break: normal; /* Empêche les coupures de mots */
  text-align: center;
  animation: floatAnimation 4s infinite ease-in-out; /* Animation 3D continue */
}

/* Animation keyframes */
@keyframes floatAnimation {
  0% {
    box-shadow: 0 0.5rem 1.5rem 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 1rem 1.5rem 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-0.3rem);
  }
  100% {
    box-shadow: 0 0.5rem 1.5rem 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.intro{
  font-style: italic;
}

  .description{
    //color: black;
    opacity: 0;
    text-align:center;
    //font-weight:300;
    //font-weight: 100;
    //font-size:clamp(0.2rem, 4vw, 0.6rem);
    //padding-top:10vh;
    //height:10vh;
    //text-transform: uppercase;
    overflow:hidden;
    -webkit-perspective: 10000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-font-smoothing: antialiased!important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .description p {
    display: block;
    white-space: normal; /* Permet le retour à la ligne */
    margin-bottom: .25em;
    margin-top: 0;
    user-select: none; 
}

.mission-paragraph{
  padding-top: 3vh;
}

.fade-in-paragraph-title {
  font-family: 'Montserrat', sans-serif;
  
  //text-transform: uppercase;
  font-size:clamp(0.2rem,  0.8rem, 0.7rem);
  //font-weight: 300;
  font-weight: 600;
  //font-style: italic;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  //font-size: 1rem; /* Ajustez cette taille selon vos besoins */
  line-height: 1.6; /* Améliore la lisibilité en augmentant l'espacement des lignes */
  //text-transform: none; /* Supprime la transformation en majuscules */
  color: #333; /* Optionnel : couleur légèrement plus douce pour une meilleure lisibilité */
  margin-bottom: 1em; /* Espace entre les paragraphes */

}
  .fade-in-paragraph {
    font-family: 'Montserrat', sans-serif;
    //text-transform: uppercase;
    font-size:clamp(0.2rem, 0.7rem, 0.7rem);
    font-weight: 400;
    font-style: normal;
    
    opacity: 1;
    transition: opacity 2s ease-in-out;
    //font-size: 1rem; /* Ajustez cette taille selon vos besoins */
    line-height: 1.6; /* Améliore la lisibilité en augmentant l'espacement des lignes */
    text-transform: none; /* Supprime la transformation en majuscules */
    color: #fff; /* Optionnel : couleur légèrement plus douce pour une meilleure lisibilité */
    margin-bottom: 1em; /* Espace entre les paragraphes */
}
.fade-in-paragraph a{
  color: #00ccff; 
}

  .description span {
    opacity: 0.7;
  }
  
  
  .description a {
    color: linear-gradient(to bottom left, #647DEE 40%, #7F53AC 100%);
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
  }

  .modal__container {
    max-height: 70vh; /* Modal takes a max height relative to the viewport */
    max-width: 80vw;
    overflow-y: auto; /* Enable scrolling inside the modal */
    padding: 2em;
    padding-right: 1.5em;
    background-color: #fff;
    
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25); /* Shadow for the modal */
    position: relative; 
    clip-path: inset(0 round 20px);

    
    
  }
  /* Adjust scrollbar style */
.modal__container::-webkit-scrollbar {
  width: 8px; /* Narrower scrollbar */
}

.modal__container::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    rgba(86, 128, 233, 0.6) 0%,
    rgba(132, 206, 235, 0.25) 25%,
    rgba(90, 185, 234, 0.3) 50%,
    rgba(193, 200, 228, 0.2) 75%,
    rgba(136, 96, 208, 0.3) 100%
  );
  //background-color: #7F53AC; 
  border-radius: 4px;
}

.modal__container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  .modal__btn {
    color: #fff;
    //position: sticky; /* This keeps it visible within the modal */
    font-family: 'Montserrat', sans-serif;
    //text-transform: uppercase;
    font-size:clamp(0.2rem, 0.7rem, 0.7rem);

    padding: 0.8rem 1.5rem;
    font-size: 0.5rem;
    text-transform: uppercase;
    
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    //background: linear-gradient(to bottom left, #647DEE 40%, #7F53AC 100%);
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    opacity: 0.75;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    //display: inline-block;
    margin-top: 2rem;
    bottom: 2vh;
    right: 2vw; /* Position it to the right */
    float: right; /* Align it to the right of the container */
  }
  
  
  .modal__btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05); /* Slight zoom effect on hover */
  }




  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    //font-family: 'Gudea', sans-serif;
    font-weight: normal
  }
  h1 {
    text-align: center;
    //margin-top: 40px;
    font-size: 60px;
    color: #333
  }
  h1 a {
    font-size: 14px;
    color: #aaa;
    background: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid #dcdcdc;
    text-decoration: none
  }
  h1 a:hover {
    color: #0fe0ba;
    text-decoration: underline
  }
  .slider {
    width: 100%;
    max-width: 750px;
    padding: 0 50px;
    margin: 25px auto 0;
    height: 350px;
    position: relative;
  }
  .slider ul, .slider ul li {
    width: 100%;
    height: 100%
  }
  .slider ul {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border: 0.1rem solid #232433;
  }
  .slider ul li {
    position: absolute;
    top: 0;
    left: -100%;
    background-size: cover; /* semon #f98686 */
    background-position: center;
    color: #fff;
    //font-family: serif;
  }
  $base-path: "/KEAT_WEBSITE";
  #modal-1 .slider ul li:first-of-type {
    background-image: url("#{$base-path}/assets/CaptureSERMS.PNG")
  }
  #modal-1 .slider ul li:nth-of-type(2) {
    background-image: url("#{$base-path}/assets/CaptureSIPIHM.PNG")
  }
  #modal-1 .slider ul li:nth-of-type(3) {
    background-image: url("#{$base-path}/assets/CaptureSIPIHM2.PNG")
  }
  #modal-1 .slider ul li:nth-of-type(4) {
    background-image: url("#{$base-path}/assets/ippak.PNG")
  }
  #modal-1 .slider ul li:last-of-type {
    background-image: url("#{$base-path}/assets/ippak2.PNG")
  }

  #modal-2 .slider ul li:first-of-type {
    background-image: url("#{$base-path}/assets/synoptique3.png")
  }
  #modal-2 .slider ul li:nth-of-type(2) {
    background-image: url("#{$base-path}/assets/synoptique.png")
  }
  #modal-2 .slider ul li:nth-of-type(3) {
    background-image: url("#{$base-path}/assets/synoptique4.png")
  }
  #modal-2 .slider ul li:last-of-type {
    background-image: url("#{$base-path}/assets/CapturePVEA.PNG")
  }

  #modal-3 .slider ul li:first-of-type {
    background-image: url("#{$base-path}/assets/sdex.png")
  }
  #modal-3 .slider ul li:nth-of-type(2) {
    background-image: url("#{$base-path}/assets/sdex2.png")
  }
  #modal-3 .slider ul li:last-of-type {
    background-image: url("#{$base-path}/assets/icissues.JPG")
  }
  


  .slider .controll {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 44%;
    border-bottom: 3px solid #333;
    border-left: 3px solid #333;
    cursor: pointer;
    color: #333;
        /* Empêche les clics */
        user-select: none;
  }
  .slider .controll:first-of-type {
    transform: rotate(45deg);
    left: 20px
  }
  .slider .controll:last-of-type {
    transform: rotate(225deg);
    right: 20px
  }
  .slider .controll:hover, .slider .controll.active {
    //border-color: #7F53AC; /* rose */
  }
  .slider ol {
    text-align: center;
    padding-top: 10px
  }
  .slider ol li {
    display: inline-block;
    margin-right: 5px;
  }
  /* Style pour le point actif */
.slider ol li.active .fa {
  color: linear-gradient(
    135deg,
    rgba(86, 128, 233, 0.6) 0%,
    rgba(132, 206, 235, 0.25) 25%,
    rgba(90, 185, 234, 0.3) 50%,
    rgba(193, 200, 228, 0.2) 75%,
    rgba(136, 96, 208, 0.3) 100%
  );
  color: rgba(136, 96, 208, 0.7); /* Couleur spécifique pour le point actif */
  font-size: 22px; /* Taille agrandie pour le point actif */
}
  .slider ol .fa {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    font-weight: normall
  }
  .slider ol li:hover .fa:before, .slider ol li.active .fa:before {
    content: "\f111"
  }
  /* .slider ul li.active {
    z-index: 999;
    left: 0
  } */
  @media(max-width: 490px) {
    h1 {font-size: 45px}
  }
  @media(max-width: 350px) {
    h1 {font-size: 25px}
  }

  .playpause.fa-pause-circle {
    color: #7F53AC; /* Couleur pour l'état pause */
        /* Empêche les clics */
        user-select: none;
  }
  
  .playpause.fa-play-circle {
    color: #647DEE; /* Couleur pour l'état lecture */
        /* Empêche les clics */
        user-select: none;
  }
  
  