<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div id="work">
    <div class="main">
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="./assets/renault.jpeg"class="img"></div>
              <div class="card_content">
                <h2 class="card_title">Renault</h2>
                <p class="card_text">Here you will learn more about my experience as a full-stack developer.</p>
                <button data-modal-open = "modal-1" class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="./assets/thales.jpeg" class="img"></div>
              <div class="card_content">
                <h2 class="card_title">Thales</h2>
                <p class="card_text">Here you will learn more about my experience as a full-stack developer.</p>
                <button data-modal-open = "modal-2" class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="./assets/agora.png"class="img"></div>
              <div class="card_content">
                <h2 class="card_title">Agora Partners</h2>
                <p class="card_text">Here you will learn more about my experience as a BI/GRC consultant.</p>
                <button  data-modal-open = "modal-3" class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal" id="modal-1" data-modal-close>
        <div class="modal__container" aria-hidden="true">
          <h3 class="project_title">Renault Group</h3>
          <div #descriptionSection  class="description">
            <div class="intro">
            <p> 
              <span>Renault is a French automobile manufacturer and part of the Renault-Nissan-Mitsubishi Alliance.</span>
            </p>
            <p>
              <span>My work site in Guyancourt specialized in vehicle and powertrain design, procurement,</span>
            </p>
            <p>
              <span>and various central management departments.</span>
            </p>
            </div>
            <div class="mission-paragraph" >
            <p  class="fade-in-paragraph-title" > My mission </p>
            <div class="wrapper">  
            <div>The mission I carried out within the Renault Group as a software
               developer consultant involved enhancing and debugging various applications 
               managed by the SIPMECA team, which is responsible for developing applications 
               that monitor the production of electric and thermal engines on factory production 
               lines.
            </div>
            <div>These applications were primarily developed in :
              <ul>
                <ul class="list_skill" ><div class="list_title" >Back-End:</div>
                  <li>C# .NET Framework</li>
                  <li>Java APIs REST (Spring Boot)</li>
                  <li>SQL (Oracle,PostgreSQL)</li>
                  <li>C</li>
                  <li>GO</li> 
                </ul>
                <ul class="list_skill"><div class="list_title" >Front-End:</div>
                  <li>JavaScript</li>
                  <li>TypeScript</li>
                  <li>Angular</li>
                  <li>HTML/CSS</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Data format:</div>
                  <li>XML</li>
                  <li>JSON</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Managed using:</div>
                  <li>GitLab</li>
                  <li>Agile Scrum</li>
                  <li>JIRA</li>
                  <li>CI/CD pipelines </li>
                </ul>
              </ul>
            </div>
              <div>
                <p class="fade-in-paragraph">
                  From a business perspective, Renault had several production flow management 
                  software solutions, including <a href="./assets/CaptureSERMS.PNG" target="_blank">SERMS</a> , a software dedicated to tracking defects 
                  in produced components, and <a href="./assets/CaptureSIPIHM2.PNG" target="_blank">SIPIHM</a>, an interface designed to manage manufacturing 
                  orders and monitor the status of automated systems.

                  I was also tasked with contributing to the development of the future 
                  replacement for these systems, called <a href="./assets/ippak2.PNG" target="_blank">IP4</a>, which represented a web-based 
                  version of all the applications developed by Renault over the past 20 years.
                  
                  This web-based version centralized multiple applications and was accessible via
                   mobile terminals, allowing operators to scan components using QR codes, 
                   thereby eliminating the need for manual text entry.
                </p>
                </div>
              </div>
            </div>

          </div>
          <!-- title -->
      
      <!-- slider -->
       <div class="slider_body">
      <div class="slider">
        <!-- slide -->
        <ul>
          <li class="active" data-url="./assets/CaptureSERMS.PNG"><a href="./assets/CaptureSERMS.PNG" target="_blank"></a></li>
          <li data-url="./assets/CaptureSIPIHM.PNG"><a href="./assets/CaptureSIPIHM.PNG" target="_blank"></a></li>
          <li data-url="./assets/CaptureSIPIHM2.PNG"><a href="./assets/CaptureSIPIHM2.PNG" target="_blank"></a></li>
          <li data-url="./assets/ippak.PNG"><a href="./assets/ippak.PNG" target="_blank"></a></li>
          <li data-url="./assets/ippak2.PNG"><a href="./assets/ippak2.PNG" target="_blank"></a></li>
        </ul>
        <ol>
          <!-- point -->
          <li class="active"><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <!-- playpause -->
          <i class="fa playpause fa-pause-circle" title="pause"></i>
        </ol>
        <!-- controll -->
        <span class="controll active"></span>
        <span class="controll"></span>
      </div>
      </div>
          <button class="modal__btn" data-modal-close>Close</button>
        </div>
      </div>
      <div class="modal" id="modal-2" data-modal-close>
        <div class="modal__container" aria-hidden="true">
          <h3 class="project_title">Thales AVS</h3>
          <div #descriptionSection  class="description">
            <div class="intro">
            <p> 
              <span>Thales AVS France is a subsidiary of the Thales Group specializing in the design and manufacturing of</span>
            </p>
            <p>
              <span> radiofrequency and microwave sources for professional applications. </span>
            </p>
            <p>
              <span>So everything that makes up the payload of telecommunications satellites,  </span>
            </p>
            <p>
              <span>as well as components used in radars and missile seekers. </span>
            </p>
            </div>
            <div class="mission-paragraph" >
            <p  class="fade-in-paragraph-title" > My mission </p>
            <div class="wrapper">  
            <div>
              To ensure the proper production of their main products—traveling wave tubes, 
              magnetrons, and klystrons—Thales operators use the well-known SAP software, 
              supported by various applications on which I had the opportunity to work.
               Working within a team of scientists and being the sole developer in the team, 
               I enjoyed both freedom in terms of development and significant skill growth 
               in the industrial field (aerospace and space), thanks to the domain expertise 
               of my colleagues.
            </div>
            <div>These applications were primarily developed in :
              <ul>
                <ul class="list_skill" ><div class="list_title" >Back-End:</div>
                  <li>PHP</li>
                  <li>SQL(MySQL)</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Front-End:</div>
                  <li>JavaScript</li>
                  <li>HTML/CSS</li>
                  <li>Jquery</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Data format:</div>
                  <li>XML</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Managed using:</div>
                  <li>GitLab</li>
                  <li>Agile Scrum</li>
                </ul>
              </ul>
            </div>
              <div>
                <p class="fade-in-paragraph">
                  From a business perspective, the synoptic application was designed 
                  to display exploded views of traveling wave tubes through binary trees, 
                  carefully detailing the parent and child components of each part to trace 
                  their origin, location, and manufacturing stage. The purpose of this was 
                  to calculate the start and end dates of production. One of the applications 
                  then allows for the creation of an acceptance test report using the information
                   provided by the synoptic tool. This document is subsequently delivered to 
                   the client as proof that the product meets the criteria defined in 
                   the catalog.</p>
                </div>
              </div>
            </div>

          </div>
          <!-- title -->
      
      <!-- slider -->
       <div class="slider_body">
      <div class="slider">
        <!-- slide -->
        <ul>
          <li class="active" data-url="./assets/synoptique3.png"><a href="./assets/synoptique3.png" target="_blank"></a></li>
          <li data-url="./assets/synoptique.png"><a href="./assets/synoptique.png" target="_blank"></a></li>
          <li data-url="./assets/synoptique4.png"><a href="./assets/synoptique4.png" target="_blank"></a></li>
          <li data-url="./assets/CapturePVEA.PNG"><a href="./assets/CapturePVEA.PNG" target="_blank"></a></li>
        </ul>
        <ol>
          <!-- point -->
          <li class="active"><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <!-- playpause -->
          <i class="fa playpause fa-pause-circle" title="pause"></i>
        </ol>
        <!-- controll -->
        <span class="controll active"></span>
        <span class="controll"></span>
      </div>
      </div>
          <button class="modal__btn" data-modal-close>Close</button>
        </div>
      </div>
      <div class="modal" id="modal-3" data-modal-close>
        <div class="modal__container" aria-hidden="true">
          <h3 class="project_title">Agora Partners</h3>
          <div #descriptionSection  class="description">
            <div class="intro">
            <p>
              <span>Agora Partners is a human-scale company that brings together consultants specializing </span>
            </p>
              <p>
                <span>in risk management challenges across all sectors: banking and insurance services, industry, </span>
              </p>
              <p>
                <span>retail, social security and welfare organizations, public sector, and more.</span>
              </p>
            </div>
            <div class="mission-paragraph" >
            <p  class="fade-in-paragraph-title" > My mission </p>
            <div class="wrapper">  
            <div>
              To support its clients in addressing risk management challenges, Agora Partners offers the configuration of a risk management 
              application called BWise. I worked with clients as a BI expert, which required extensive use of my knowledge in database languages 
              and data integration tools. Additionally, I had the opportunity to contribute to in-house software development projects.
            </div>
            <div>
              <ul>
                <ul class="list_skill" ><div class="list_title" >Back-End:</div>
                  <li>C# .NET Framework</li>
                  <li>JavaScript</li>
                  <li>SQL(Oracle)</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Tools:</div>
                  <li>Pentaho (ETL)</li>
                  <li>sai360 (GRC software)</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Data format:</div>
                  <li>XML</li>
                  <li>JSON</li>
                </ul>
                <ul class="list_skill"><div class="list_title" >Managed using:</div>
                  <li>Agile Scrum</li>
                </ul>
              </ul>
            </div>
              <div>
                <p class="fade-in-paragraph">
                  
The latest version of SAI360, a risk management software we delivered to the client, 
required knowledge of JavaScript programming for dashboard creation. To address this challenge, 
we came up with the idea of creating an application capable of generating code from Excel or XML templates.</p>
                </div>
              </div>
            </div>

          </div>
          <!-- title -->
      
      <!-- slider -->
       <div class="slider_body">
      <div class="slider">
        <!-- slide -->
        <ul>
          <li class="active" data-url="./assets/sdex.png"><a href="./assets/sdex.png" target="_blank"></a></li>
          <li data-url="./assets/sdex2.png"><a href="./assets/sdex2.png" target="_blank"></a></li>
          <li data-url="./assets/icissues.JPG"><a href="./assets/icissues.JPG" target="_blank"></a></li>
        </ul>
        <ol>
          <!-- point -->
          <li class="active"><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <li><i class="fa fa-circle"></i></li>
          <!-- playpause -->
          <i class="fa playpause fa-pause-circle" title="pause"></i>
        </ol>
        <!-- controll -->
        <span class="controll active"></span>
        <span class="controll"></span>
      </div>
      </div>
          <button class="modal__btn" data-modal-close>Close</button>
        </div>
      </div>
