<header>
    <div id="menu-container" class="menu-container">
        <ul id="menu">
            <li><button class="button" color="black" (click)="scrollTo('about')"> About </button></li>
            <li><button class="button"  color="black" (click)="scrollTo('work')"> Work</button></li>
            <li> <a href="https://www.linkedin.com/in/keaton-normilus-7b3a69188/" target="_blank" ><button class="button"  color="black" > Contact</button></a></li>
        </ul>
    </div>
    <!-- test svg -->

</header>