<div id="subtitle">welcome to my universe</div>

<div class="large-space"></div>
<!-- space menu -->
<div id="about" class="about">
    <div id="welcome-message" class="welcome-message">
        <p>Hello! I'm Keaton, a web and software developer based in Paris, with extensive experience as full stack developer . 
           <br>I love creating user-friendly interfaces and ensuring that my work not only functions well but looks great too.
        </p>
   
    </div>
    <div class="table-container">
        <!-- En-têtes -->
        <div class="table-header">Software Developpement</div>
        <div class="table-header">Web Developpement</div>
        
        <!-- Cellules vides -->
        <div class="table-cell">
            <div id="floating-words">
                <p class="floating-word">C#</p>
                <p class="floating-word">JAVA</p>
                <p class="floating-word">C</p>
                <p class="floating-word">GO</p>
                <p class="floating-word">Python</p>
                <p class="floating-word">SQL</p>
            </div>
        </div>
        
        <!-- Autre cellule (peut être ajoutée comme nécessaire) -->
        <div class="table-cell">
            <div id="floating-words">
                <p class="floating-word">Javascript</p>
                <p class="floating-word">HTML/CSS</p>
                <p class="floating-word">React</p>
                <p class="floating-word">Typescript</p>
                <p class="floating-word">PHP</p>
                <p class="floating-word">Angular</p>
            </div>
        </div>
    </div>
    <div>
        <div id="welcome-message2" class="welcome-message2">
        <p>
           Explore my work and feel free to reach out if you’re interested in collaborating!
        </p>
        </div>
    </div>
    
      
  
</div>
